<h1>Wines</h1>
<ul>
<% @wines.each do |w| %>
    <li><%= link_to w.name, wine_path(w) %>: <%= w.winery.name %> (<%= w.year %>)</li>
<% end %>
</ul>
<br>
<%= button_to "Add New Wine", new_wine_path, method: :get %>